# Django 核心
Django==5.2.7
djangorestframework==3.15.2
djangorestframework-camel-case==1.4.2
psycopg2-binary==2.9.10

# API 文档
drf-yasg
setuptools

# CORS 支持
django-cors-headers==4.3.1

# 环境变量管理
python-dotenv==1.0.1

# 异步任务
celery==5.4.0
redis==5.0.3

# 工具库
python-dateutil==2.9.0
pytz==2024.1
